apiVersion: apps/v1
kind: Deployment
metadata:
  name: patient-service
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: patient-service
  template:
    metadata:
      labels:
        app: patient-service
    spec:
      containers:
      - name: patient-service
        image: ${ACR_SERVER}/patient-service:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: patient-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: patient-service